// footer
footer.footer
  .container 
    .footer__container 
      .footer__license.d-none.d-md-block &copy; Lakestone 2012 — 2022
      .footer__logo 
        img(src="img/logo-small.svg", alt="")
      a(href="#").footer__link 
        .footer__link-circle 
        span Связаться с нами
  .footer__license.d-block.d-md-none &copy; Lakestone 2012 — 2022
//	/footer