extends core/base.pug

block title 
  title О производстве

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs.d-block.d-md-none
        .container 
          ul
            li 
              a(href="#") Главная
            li 
              span О производстве
      // /breadcrumbs

      // about-weclome
      .about-weclome
        .container 
          .about-weclome__title о производстве
          .about-weclome__video.js-youtube#eL0QIrIFwHM 
            img(src="img/video-prev.jpg", alt="").about-weclome__video-prev.video__prev
          .about-weclome__content 
            .about-weclome__subtitle Современное технологичное производство изделий из натуральной кожи
            .about-weclome__text Учитывая ключевые сценарии поведения, высокотехнологичная концепция общественного уклада не оставляет шанса для направлений прогрессивного развития. С другой стороны, внедрение современных методик является качественно новой ступенью стандартных подходов. А также стремящиеся вытеснить традиционное производство, нанотехнологии будут в равной степени предоставлены сами себе.
      // /about-weclome

      // about-items
      .about-items
        .container 
          .row 
            .col-12.col-lg-4.col-md-6 
              .about-items__item 
                .about-items__img 
                  img(src="img/about-items/img1.jpg", alt="")
                .about-items__content 
                  .about-items__title Наш коллектив - профессионалы
                  .about-items__text Учитывая ключевые сценарии поведения, высокотехнологичная концепция общественного уклада не оставляет шанса для направлений прогрессивного развития.
            .col-12.col-lg-4.col-md-6 
              .about-items__item 
                .about-items__img 
                  img(src="img/about-items/img2.jpg", alt="")
                .about-items__content 
                  .about-items__title Оборудование
                  .about-items__text Учитывая ключевые сценарии поведения, высокотехнологичная концепция общественного уклада не оставляет шанса для направлений прогрессивного развития.
            .col-12.col-lg-4 
              .about-items__item.about-items__item--strange 
                .about-items__img 
                  img(src="img/about-items/img3.jpg", alt="")
                .about-items__content 
                  .about-items__title Конструкторский отдел
                  .about-items__text Учитывая ключевые сценарии поведения, высокотехнологичная концепция общественного уклада не оставляет шанса для направлений прогрессивного развития.
      // /about-items

      // workflow
      .workflow
        .container 
          .workflow__title Рабочий процесс
          .workflow__slider 
            #workflowSlider 
              .swiper-wrapper 
                .swiper-slide 
                  .workflow__item 
                    .workflow__img 
                      img(src="img/workflow/img1.jpg", alt="")
                    .workflow__text Учитывая ключевые сценарии поведения, высокотехнологичная концепция общественного уклада не оставляет шанса для направлений прогрессивного развития. С другой стороны, внедрение современных методик является качественно новой ступенью стандартных подходов. А также стремящиеся вытеснить традиционное производство, нанотехнологии будут в равной степени предоставлены сами себе.
                .swiper-slide 
                  .workflow__item 
                    .workflow__img 
                      img(src="img/workflow/img2.jpg", alt="")
                    .workflow__text Учитывая ключевые сценарии поведения, высокотехнологичная концепция общественного уклада не оставляет шанса для направлений прогрессивного развития. С другой стороны, внедрение современных методик является качественно новой ступенью стандартных подходов. А также стремящиеся вытеснить традиционное производство, нанотехнологии будут в равной степени предоставлены сами себе.
                .swiper-slide 
                  .workflow__item 
                    .workflow__img 
                      img(src="img/workflow/img3.jpg", alt="")
                    .workflow__text Учитывая ключевые сценарии поведения, высокотехнологичная концепция общественного уклада не оставляет шанса для направлений прогрессивного развития. С другой стороны, внедрение современных методик является качественно новой ступенью стандартных подходов. А также стремящиеся вытеснить традиционное производство, нанотехнологии будут в равной степени предоставлены сами себе.
                .swiper-slide 
                  .workflow__item 
                    .workflow__img 
                      img(src="img/workflow/img4.jpg", alt="")
                    .workflow__text Учитывая ключевые сценарии поведения, высокотехнологичная концепция общественного уклада не оставляет шанса для направлений прогрессивного развития. С другой стороны, внедрение современных методик является качественно новой ступенью стандартных подходов. А также стремящиеся вытеснить традиционное производство, нанотехнологии будут в равной степени предоставлены сами себе.
              .workflow__arrow.workflow__arrow--prev.swiper-button-prev
                svg(class="icon-arrow-right")
                  use(xlink:href="img/sprite.svg#arrow-right")
              .workflow__arrow.workflow__arrow--next.swiper-button-next
                svg(class="icon-arrow-right")
                  use(xlink:href="img/sprite.svg#arrow-right")
      // /workflow

      // slogan
      .slogan
        .container 
          .slogan__title Lakestone - это коллектив профессионалов, знающих своё дело.
          .slogan__btn 
            .btn оставить заявку
      // /slogan

    include core/footer.pug
