extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    .content 

      // welcome
      .welcome
        .welcome__head 
          .container 
            .welcome__title производство кожаных сумок и аксуссуаров
            .welcome__links 
              a(href="#").welcome__link Собственный <br>конструкторский отдел
                .welcome__link-arrow 
                  svg(class="icon-arrow-right")
                    use(xlink:href="img/sprite.svg#arrow-right")
              a(href="#").welcome__link Высочайшее качество <br>выпускаемой продукции
                .welcome__link-arrow 
                  svg(class="icon-arrow-right")
                    use(xlink:href="img/sprite.svg#arrow-right")
        .welcome__video(data-vide-bg="video/lakestone-welcome.mp4")
      // /welcome

      // category-block
      .category-block
        .container 
          .category-block__sub.d-lg-none.d-md-block.d-none с нами создаются бренды.
          .category-block__head 
            .category-block__left 
              .category-block__title Производство полного цикла 
              .category-block__sub.d-lg-block.d-md-none.d-block с нами создаются бренды.
            .category-block__right Мы изготавливаем изделия из кожи премиум качества. Здесь присутствует краткое и лаконичное описание с кем работает компания.
          .category-block__items 
            .row.gy-3 
              .col-lg.col-sm-6
                a(href="#").category-block__item 
                  .category-block__img 
                    img(src="img/categories/img1.png", alt="")
                  .category-block__name Женские сумки
              .col-lg.col-sm-6
                a(href="#").category-block__item 
                  .category-block__img 
                    img(src="img/categories/img2.png", alt="")
                  .category-block__name Мужские сумки
              .col-lg.col-sm-4
                a(href="#").category-block__item 
                  .category-block__img 
                    img(src="img/categories/img3.png", alt="")
                  .category-block__name Рюкзаки
              .col-lg.col-sm-4
                a(href="#").category-block__item 
                  .category-block__img 
                    img(src="img/categories/img4.png", alt="")
                  .category-block__name Спортивные и дорожные сумки
              .col-lg.col-sm-4
                a(href="#").category-block__item 
                  .category-block__more 
                    span Ещё 
                      strong 16 
                      | категорий
      // /category-block

    include core/footer.pug
