extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    .content 

      // welcome
      .welcome
        .welcome__head 
          .container 
            .welcome__title производство кожаных сумок и аксуссуаров
            .welcome__links 
              a(href="#").welcome__link Собственный <br>конструкторский отдел
                .welcome__link-arrow 
                  svg(class="icon-arrow-right")
                    use(xlink:href="img/sprite.svg#arrow-right")
              a(href="#").welcome__link Высочайшее качество <br>выпускаемой продукции
                .welcome__link-arrow 
                  svg(class="icon-arrow-right")
                    use(xlink:href="img/sprite.svg#arrow-right")
        .welcome__video
          video(autoplay playsinline loop muted preload="auto")
            source(src="video/lakestone-welcome.mp4" type="video/mp4")
            source(src="video/lakestone-welcome.webm" type="video/webm")
            source(src="video/lakestone-welcome.ogv" type="video/ogv")
      // /welcome

      // category-block
      .category-block
        .container 
          .category-block__sub.d-lg-none.d-md-block.d-none с нами создаются бренды.
          .category-block__head 
            .category-block__left 
              .category-block__title Производство полного цикла 
              .category-block__sub.d-lg-block.d-md-none.d-block с нами создаются бренды.
            .category-block__right Мы изготавливаем изделия из кожи премиум качества. Здесь присутствует краткое и лаконичное описание с кем работает компания.
          .category-block__items 
            .row.gy-3 
              .col-lg.col-sm-6
                a(href="#").category-block__item 
                  .category-block__img 
                    img(src="img/categories/img1.webp", alt="")
                  .category-block__name Женские сумки
              .col-lg.col-sm-6
                a(href="#").category-block__item 
                  .category-block__img 
                    img(src="img/categories/img2.webp", alt="")
                  .category-block__name Мужские сумки
              .col-lg.col-sm-4
                a(href="#").category-block__item 
                  .category-block__img 
                    img(src="img/categories/img3.webp", alt="")
                  .category-block__name Рюкзаки
              .col-lg.col-sm-4
                a(href="#").category-block__item 
                  .category-block__img 
                    img(src="img/categories/img4.webp", alt="")
                  .category-block__name Спортивные и дорожные сумки
              .col-lg.col-sm-4
                a(href="#").category-block__item 
                  .category-block__more 
                    span Ещё 
                      strong 16 
                      | категорий
      // /category-block

      // about-block
      .about-block.d-none.d-xl-block
        .container 
          .about-block__container 
            .about-block__title Наше производство — это, прежде всего, люди.
            .about-block__left 
              .about-block__left-img 
                img(src="img/about-block/img1.webp", alt="")
              .about-block__content 
                .about-block__left-text Безусловно, материалы, оборудование, технологические процессы — неотъемлемая часть производства, но без людей они остаются всего лишь материалом.
                .about-block__sub БОЛЕЕ 80 СОТРУДНИКОВ
                .about-block__right-text Мы подходили к нашей команде на производстве, задавая одни и те же вопросы: «Почему вам не надоедает ваша работа?», «В чем секрет улыбки во время работы, почему работа не превращается в рутину, откуда вдохновение?».
                .about-block__right-img 
                  video(autoplay playsinline loop muted preload="auto")
                    source(src="video/55.mp4" type="video/mp4")
                .about-block__right-link
                  a(href="#") 
                    span подробнее о производстве
                    svg(class="icon-arrow-right")
                      use(xlink:href="img/sprite.svg#arrow-right")

      // /about-block

      // about-block mobile
      .about-block.d-block.d-xl-none
        .container 
          .about-block__title Наше производство — это, прежде всего, люди.
          .about-block__left 
            .about-block__left-img 
              img(src="img/about-block/img1.webp", alt="")
            .about-block__left-text Безусловно, материалы, оборудование, технологические процессы — неотъемлемая часть производства, но без людей они остаются всего лишь материалом.

          .about-block__sub БОЛЕЕ 80 СОТРУДНИКОВ

          .about-block__right 
            .about-block__content 
              .about-block__right-text Мы подходили к нашей команде на производстве, задавая одни и те же вопросы: «Почему вам не надоедает ваша работа?», «В чем секрет улыбки во время работы, почему работа не превращается в рутину, откуда вдохновение?».
              .about-block__right-link
                a(href="#") 
                  span подробнее о производстве
                  svg(class="icon-arrow-right")
                    use(xlink:href="img/sprite.svg#arrow-right")
            .about-block__right-img
              video(autoplay playsinline loop muted preload="auto")
                source(src="video/55.mp4" type="video/mp4")
      // /about-block mobile

      // bag
      .bag
        .container 
          .bag__title Высокое качество деталей, швов, материалов.
          .bag__block 
            .bag__img 
              img(src="img/bag.webp", alt="")
            .bag__sticker.bag__sticker--1 Нитки премиум качества
            .bag__sticker.bag__sticker--2 Натуральная высококачественная кожа
            .bag__sticker.bag__sticker--3 Прочная фурнитура
          .bag__btn 
            a(href="#").btn оставить заявку
      // /bag

      // steps
      .steps
        .container 
          .steps__slider 
            #stepsSlider 
              .swiper-wrapper 
                .swiper-slide 
                  .steps__item 
                    .steps__sub.d-block.d-lg-none Первым делом мы...
                    .steps__title.d-block.d-lg-none Обсуждаем образец и принимаем заказ
                    .steps__flex 
                      .steps__content 
                        .steps__sub.d-none.d-lg-block Первым делом мы...
                        .steps__title.d-none.d-lg-block Обсуждаем образец и принимаем заказ
                        .steps__text На данном этапе наш менеджер связывается с вами, чтобы обсудить все детали производства
                        .steps__controll 
                          .steps__button.steps__button--prev.swiper-button-prev 
                            svg(class="icon-arrow-right")
                              use(xlink:href="img/sprite.svg#arrow-right")
                            span назад
                          .steps__fractions.swiper-pagination
                            .steps__fractions-current 
                            | /
                            .steps__fractions-total 
                          .steps__button.steps__button--next.swiper-button-next 
                            span далее
                            svg(class="icon-arrow-right")
                              use(xlink:href="img/sprite.svg#arrow-right")
                      .steps__images 
                        .steps__img 
                          img(src="img/steps/img1.webp", alt="")
                        .steps__img 
                          img(src="img/steps/img2.webp", alt="")
                .swiper-slide 
                  .steps__item 
                    .steps__sub.d-block.d-lg-none Затем...
                    .steps__title.d-block.d-lg-none Обсуждаем образец
                    .steps__flex 
                      .steps__content 
                        .steps__sub.d-none.d-lg-block Затем...
                        .steps__title.d-none.d-lg-block Обсуждаем образец
                        .steps__text На данном этапе наш менеджер связывается с вами, чтобы обсудить все детали производства, чтобы обсудить все детали производства
                        .steps__controll 
                          .steps__button.steps__button--prev.swiper-button-prev 
                            svg(class="icon-arrow-right")
                              use(xlink:href="img/sprite.svg#arrow-right")
                            span назад
                          .steps__fractions.swiper-pagination
                            .steps__fractions-current 
                            | /
                            .steps__fractions-total 
                          .steps__button.steps__button--next.swiper-button-next 
                            span далее
                            svg(class="icon-arrow-right")
                              use(xlink:href="img/sprite.svg#arrow-right")
                      .steps__images 
                        .steps__img 
                          img(src="img/steps/img2.webp", alt="")
                        .steps__img 
                          img(src="img/steps/img1.webp", alt="")
              .steps__pagination-wrap 
                .steps__pagination-num 01
                .steps__pagination.swiper-pagination
                .steps__pagination-num.steps__pagination-num--all 
      // /steps

      // benefit
      .benefit
        .container 
          .row 
            .col-lg-3.col-md-6 
              .benefit__item 
                .benefit__video 
                  video(autoplay playsinline loop muted preload="auto")
                    source(src="video/66.mp4" type="video/mp4")
                .benefit__title 10 лет на российском рынке
                .benefit__text Возможность изготовления изделия по образцу заказчика
            .col-lg-3.col-md-6 
              .benefit__item 
                .benefit__video 
                  video(autoplay playsinline loop muted preload="auto")
                    source(src="video/77.mp4" type="video/mp4")
                .benefit__title Площадь более 1000 кв.м
                .benefit__text Возможность изготовления изделия по образцу заказчика
            .col-lg-3.col-md-6 
              .benefit__item 
                .benefit__video 
                  video(autoplay playsinline loop muted preload="auto")
                    source(src="video/88.mp4" type="video/mp4")
                .benefit__title Собственный конструкторский отдел
                .benefit__text Возможность изготовления изделия по образцу заказчика
            .col-lg-3.col-md-6 
              .benefit__item 
                .benefit__video
                  video(autoplay playsinline loop muted preload="auto")
                    source(src="video/99.mp4" type="video/mp4")
                .benefit__title Продукция премиум качества
                .benefit__text Возможность изготовления изделия по образцу заказчика
      // /benefit

    include core/footer.pug
