extends core/base.pug

block title 
  title Навигаця по страницам

block content

  .page 

    include core/header.pug

    .content 

      .navpage 
        .container
          h1 Навигаця по страницам
          ul 
            //- li 
            //-   a(href="template.html") Шаблон
            li 
              a(href="home.html") Главная
            li 
              a(href="vacancy.html") Вакансии
            li 
              a(href="contact.html") Контакты

    include core/footer.pug
