extends core/base.pug

block title 
  title Страница товара

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs
        .container 
          ul
            li 
              a(href="#") Продукция
            li 
              a(href="#") Женские сумки
            li 
              span Название сумки
      // /breadcrumbs

      // product
      .product
        .container 
          .product__container 

            .product__title.d-block.d-md-none Женская кожаная сумка Davey Blue
        
            .product__slider 
              #productSlider 
                .swiper-wrapper 
                  .swiper-slide 
                    img(src="img/product/img1.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img2.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img3.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img4.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img1.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img2.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img3.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img4.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img1.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img2.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img3.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img4.webp", alt="")

              #productSliderThumbs 
                .swiper-wrapper 
                  .swiper-slide 
                    img(src="img/product/img1.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img2.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img3.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img4.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img1.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img2.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img3.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img4.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img1.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img2.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img3.webp", alt="")
                  .swiper-slide 
                    img(src="img/product/img4.webp", alt="")

            .product__content 

              .product__title.d-md-block.d-none Женская кожаная сумка Davey Blue

              .product__lists 
                ul.product__list
                  li Цвет: 
                    span Голубой 
                  li Внешние размеры, см: 
                    span 27х20х14 
                  li Внутренние размеры, см: 
                    span 24х17х13 
                  li Материал: 
                    span 100% натуральная кожа 
                    
                ul.product__list
                  li Цвет: 
                    span Голубой 
                  li Внешние размеры, см: 
                    span 27х20х14 
                  li Внутренние размеры, см: 
                    span 24х17х13 
                  li Материал: 
                    span 100% натуральная кожа 

              .product__btn 
                a(data-mfp-src="#callbackPopup").js-popup-link.btn узнать оптовую цену
      // /product
      
      // callback-popup 
      #callbackPopup.popup.mfp-hide
        form(action="#").callback-popup 
          .callback-popup__title Узнать оптовую цену
          .callback-popup__text Оставьте свои контактные данные и наш менеджер свяжется с вами, чтобы обсудить детали сотрудничества.
          .callback-popup__input 
            input(type="text" name="name" maxlength="50" required)
            .callback-popup__input-label Имя
          .callback-popup__input 
            input(type="text" name="email" inputmode="email" required)
            .callback-popup__input-label E-mail
          .callback-popup__input 
            input(type="text" name="tel" inputmode="tel" required)
            .callback-popup__input-label Телефон
          .callback-popup__btn 
            button(type="submit").btn Отправить
          .callback-popup__ps Нажимая кнопку “Отправить”, Вы даёте согласие на обработку 
            a(href="#") персональных данных
      // /callback-popup

    include core/footer.pug
