extends core/base.pug

block title 
  title Вакансии

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs.d-block.d-md-none
        .container 
          ul
            li 
              a(href="#") Главная
            li 
              span Вакансии
      // /breadcrumbs

      // vacancy
      .vacancy
        .container-fluid.container-sm
          .vacancy__title вакансии
          .vacancy__items 
            .row.gy-3 
              .col-lg-6 
                a(href="#").vacancy__item 
                  .vacancy__subtitle Швея
                  .vacancy__accent Требования
                  .vacancy__text Внезапно, базовые сценарии поведения пользователей преданы социально-демократической анафеме. В рамках спецификации современных стандартов, акционеры крупнейших компаний могут быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Лишь действия представителей оппозиции, инициированные исключительно синтетически, описаны максимально подробно.
                  .vacancy__accent.mt-auto Заработная плата
                  .vacancy__price От 70.000 рублей
                  .vacancy__btn 
                    .btn отклинкуться
              .col-lg-6 
                a(href="#").vacancy__item 
                  .vacancy__subtitle Технолог
                  .vacancy__accent Требования
                  .vacancy__text Внезапно, базовые сценарии поведения пользователей преданы социально-демократической анафеме. В рамках спецификации современных стандартов, акционеры крупнейших компаний могут быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Лишь действия представителей оппозиции, инициированные исключительно синтетически, описаны максимально подробно.
                  .vacancy__accent.mt-auto Заработная плата
                  .vacancy__price От 70.000 рублей
                  .vacancy__btn 
                    .btn отклинкуться
              .col-lg-6 
                a(href="#").vacancy__item 
                  .vacancy__subtitle Администратор
                  .vacancy__accent Требования
                  .vacancy__text Внезапно, базовые сценарии поведения пользователей преданы социально-демократической анафеме. В рамках спецификации современных стандартов, акционеры крупнейших компаний могут быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Лишь действия представителей оппозиции, инициированные исключительно синтетически, описаны максимально подробно.
                  .vacancy__accent.mt-auto Заработная плата
                  .vacancy__price От 70.000 рублей
                  .vacancy__btn 
                    .btn отклинкуться
              .col-lg-6 
                a(href="#").vacancy__item 
                  .vacancy__subtitle Помощник технолога
                  .vacancy__accent Требования
                  .vacancy__text Внезапно, базовые сценарии поведения пользователей преданы социально-демократической анафеме. В рамках спецификации современных стандартов, акционеры крупнейших компаний могут быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Лишь действия представителей оппозиции, инициированные исключительно синтетически, описаны максимально подробно.
                  .vacancy__accent.mt-auto Заработная плата
                  .vacancy__price От 70.000 рублей
                  .vacancy__btn 
                    .btn отклинкуться
      // /vacancy

    include core/footer.pug
