/* category-block */
.category-block { 
  padding: 60px 0;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
  }
  &__left {
    width: 100%;
    max-width: 800px;
    margin-right: 20px;
  }
  &__title {
    font-weight: 500;
    font-size: 55px;
    line-height: 105.69%;
  }
  &__sub {
    font-weight: 100;
    font-size: 55px;
    line-height: 105.69%;
    text-align: right;
  }
  &__right {
    max-width: 430px;
    font-size: 18px;
    line-height: 145.5%;
    color: $grayText;
  }
  &__items {
    
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 22px 26px;
    background-color: $grayBg;
    color: $blackText;
    transition: .3s;
    &:hover {
      background-color: #EAEAEA;
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    flex-shrink: 0;
  }
  &__name {
    margin-top: auto;
    font-weight: 300;
    font-size: 22px;
    line-height: 118.19%;
  }
  &__more {
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 22px;
    line-height: 118.19%;
    text-align: center;
    span {
      border-bottom: 1px solid #C6C6C6;
    }
    strong {
      font-weight: normal;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__img {
      height: 240px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__sub {
      font-size: 45px;
    }
  }
  @include media-breakpoint-down(lg) {
    padding: 20px 0 30px;
    &__head {
      margin-bottom: 45px;
    }
    &__title {
      font-size: 45px;
    }
    &__sub {
      text-align: left;
      margin-bottom: 15px;
    }
    &__right {
      max-width: 360px;
      font-size: 16px;
    }
    &__img {
      height: 265px;
    }
    &__items {
      > .row {
        > * {
          &:nth-child(1), &:nth-child(2) {
            .category-block__img {
              height: 477px;
            }
          }
        }
      }
    }
    &__more {
      font-size: 20px;
    }
  }
  @include media-breakpoint-down(md) {
    padding-bottom: 5px;
    &__head {
      flex-wrap: wrap;
      margin-bottom: 25px;
    }
    &__img {
      height: 200px;
    }
    &__items {
      > .row {
        > * {
          &:nth-child(1), &:nth-child(2) {
            .category-block__img {
              height: 355px;
            }
          }
        }
      }
    }
    &__title {
      font-size: 30px;
    }
    &__sub {
      font-size: 26px;
    }
    &__name {
      font-size: 20px;
      text-align: center;
    }
  }
  @include media-breakpoint-down(sm) {
    &__img {
      height: 355px !important;
    }
    &__items {
      >.row {
        >* {
          &:nth-child(4) {
            .category-block__item {
              display: none;
            }
          }
          &:nth-child(5) {
            .category-block__item {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
/* /category-block */