/* header */
.header { 
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #D9D9D9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    display: block;
    max-width: 250px;
    padding: 20px 0;
    margin-right: 20px;
    transition: .2s;
    img {
      display: block;
    }
  }
  &__hamburger {
    display: none;
  }
  &__menu {
    
  }
  &__list {
    display: flex;
    margin-left: -50px;
    margin-bottom: -1px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    li {
      margin-left: 50px;
      a {
        display: block;
        padding: 25px 0;
        color: $grayText;
        white-space: nowrap;
        @include media-breakpoint-up(md) {
          &:hover {
            color: $blackText;
          }
          &.active {
            color: $blackText;
            border-bottom: 1px solid #000;
          }
        }
      }
    }
  }
  &__bottom {
    display: none;
  }
  @include media-breakpoint-up(lg) {
    &__container {
      .container {
        width: auto;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__container {
      flex-wrap: wrap;
    }
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    &__logo {
      margin-left: auto;
      margin-right: auto;
      padding: 25px 0;
    }
    &__menu {
      width: 100%;
      border-top: 1px solid #D9D9D9;
    }
    &__list {
      li {
        a {
          padding: 16px 0;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    border: none;
    overflow: hidden;
    &__container {
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      > .container {
        position: relative;
        z-index: 10;
        &:after {
          content: '';
          display: block;
          left: -500px;
          right: -500px;
          height: 1px;
          background-color: #D9D9D9;
          position: absolute;
          bottom: 0;
          z-index: 2;
        }
      }
    }
    &__hamburger {
      display: block;
      padding: 10px 10px 10px 0;
      position: relative;
      cursor: pointer;
      user-select: none;
      &.active {
        .header__hamburger-box {
          &:after {
          top: 50%;
          transform: rotate(-45deg);
        }
        &:before {
          top: 50%;
          transform: rotate(45deg);
        }
        }
        .header__hamburger-inner {
          display: none;
        }
      }
    }
    &__hamburger-inner {
      width: 70%;
      height: 1px;
      background-color: $blackText;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0,-50%);
    }
    &__hamburger-box {
      position: relative;
      width: 27px;
      height: 17px;
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $blackText;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.3s;
      }
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $blackText;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.3s;
      }
    }
    &__logo {
      max-width: 176px;
      padding: 21px 0;
      margin-right: 0;
    }
    &__menu {
      width: 100%;
      padding-top: 55px;
      background-color: #fff;
      position: fixed;
      top: 0;
      bottom: 0;
      left: -800px;
      z-index: 9;
      transition: 0.3s;
      overflow: hidden;
      &.open {
        left: 0;
      }
    }
    &__list {
      display: block;
      width: 100%;
      padding-top: 20px;
      flex-grow: 1;
      margin-left: 0;
      overflow-y: auto;
      li {
        margin-left: 0;
        a {
          padding: 13px 0;
          font-size: 30px;
          line-height: 35px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          &.active {
            color: $blackText;
          }
        }
      }
    }
    &__bottom {
      padding-top: 10px;
      display: block;
      width: 100%;
    }
    &__bottom-logo {
      margin-bottom: 20px;
    }
    &__bottom-link {
      font-size: 14px;
      line-height: 145.5%;
      margin-bottom: 20px;
      a {
        color: $blackText;
        text-decoration: underline;
      }
    }
    &__bottom-license {
      padding: 15px 0 11px;
      font-size: 12px;
      line-height: 145.5%;
      position: relative;
      &:after {
        content: '';
        display: block;
        left: -500px;
        right: -500px;
        height: 1px;
        background-color: #D9D9D9;
        position: absolute;
        top: 0;
        z-index: 2;
      }
    }
  }
}

// stiky menu
#headerSticky {
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: showStyky 0.5s;
    @include media-breakpoint-down(lg) {
      .header__logo {
        margin-top: -100px;
      }
    }
    @include media-breakpoint-down(md) {
      .header__logo {
        margin-top: 0;
      }
    }
  }
}
@keyframes showStyky {
  0% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0)
  }
}
/* /header */