/* header */
.header { 
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    
  }
  &__hamburger {
    display: none;
  }
  &__menu {
    
  }
  &__list {
    display: flex;
    margin-left: -50px;
    li {
      margin-left: 50px;
      a {
        display: block;
        padding: 25px 0;
        white-space: nowrap;
      }
    }
  }
}

// stiky menu
#headerSticky {
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: showStyky 0.5s;
  }
}
@keyframes showStyky {
  0% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0)
  }
}
/* /header */