/* steps */
.steps { 
  padding: 50px 0 84px;
  background-color: #2E2E2E;
  color: #fff;
  &__slider {
    position: relative;
    .swiper-slide {
      background-color: #2E2E2E;
      height: auto;
    }
  }
  &__item {
    padding-right: 85px;
  }
  &__flex {
    display: flex;
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 1px;
    padding-right: 20px;
  }
  &__sub {
    font-weight: 100;
    font-size: 55px;
    line-height: 105.69%;
    margin-bottom: 32px;
  }
  &__title {
    font-weight: 500;
    font-size: 65px;
    line-height: 104%;
    margin-bottom: 21px;
  }
  &__text {
    font-size: 18px;
    line-height: 145.5%;
    margin-bottom: 20px;
  }
  &__controll {
    display: flex;
    margin-top: auto;
  }
  &__button {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: auto;
    height: auto;
    font-weight: 300;
    color: #fff;
    fill: #fff;
    text-transform: uppercase;
    position: static;
    margin-top: 0;
    &:after {
      display: none;
    }
    svg {
      width: 14px;
      height: 8px;
      transition: .3s;
      flex-shrink: 0;
    }
    span {
      border-bottom: 1px solid #fff;
    }
    &--prev {
      margin-right: 30px;
      svg {
        margin-right: 15px;
        transform: rotate(180deg);
      }
      @include media-breakpoint-up(sm) {
        &:hover {
        svg {
          transform: rotate(180deg) translate(15px,0);
        }
      }
      }
    }
    &--next {
      svg {
        margin-left: 15px;
      }
      @include media-breakpoint-up(sm) {
        &:hover {
        svg {
          transform: translate(15px,0);
        }
      }
      }
    }   
  }
  &__images {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  &__img {
    &:nth-child(1) {
      width: 280px;
      height: 400px;
      margin-right: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &:nth-child(2) {
      width: 261px;
      height: 350px;
      margin-top: 185px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    img {
      
    }
  }
  &__pagination-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    z-index: 1;
  }
  &__pagination {
    width: 1px !important;
    position: static;
    margin: 10px 0;
    background-color: #565656;
    .swiper-pagination-progressbar-fill {
      background-color: #fff;
    }
  }
  &__pagination-num {
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
  }
  &__fractions {
    display: none;
  }
  @include media-breakpoint-down(xxl) {
    &__title {
      font-size: 55px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__sub {
      font-size: 45px;
      margin-bottom: 20px;
    }
    &__title {
      font-size: 45px;
      margin-bottom: 40px;
    }
    &__img {
      &:nth-child(1) {
        height: 347px;
      }
      margin-left: auto;
      &:nth-child(2) {
        display: none;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    padding-bottom: 50px;
    &__item {
      padding-right: 40px;
    }
    &__sub {
      margin-bottom: 15px;
    }
    &__title {
      margin-bottom: 12px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;
    }
    &__text {
      margin-bottom: 46px;
    }
    &__controll {
      margin-top: 0;
    }
    &__pagination-wrap {
      top: 65%;
    }
  }
  @include media-breakpoint-down(sm) {
    &__item {
      padding-right: 0;
    }
    &__sub {
      font-size: 27px;
    }
    &__title {
      font-size: 27px;
      margin-bottom: 20px;
    }
    &__flex {
      flex-direction: column;
    }
    &__content {
      width: 100%;
      padding-right: 0;
      padding-bottom: 0;
      order: 1;
    }
    &__images {
      width: 100%;
      margin-bottom: 24px;
    }
    &__img {
      &:nth-child(1) {
        width: 100%;
        height: 432px;
        margin-right: 0;
      }
    }
    &__text {
      display: none;
    }
    &__pagination-wrap {
      display: none;
    }
    &__controll {
      justify-content: space-between;
    }
    &__slider {
      overflow: hidden;
    }
    &__fractions {
      display: flex;
      align-items: flex-end;
      position: static;
      font-weight: 300;
    }
    &__fractions-current {
      font-size: 24px;
    }
    &__button {
      &--prev {
        margin-right: 0;
      }
    }
  }
}
/* /steps */