/* welcome */
.welcome { 
  padding: 80px 0 60px;
  &__head {
    margin-bottom: 35px;
    .container {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  &__title {
    max-width: 620px;
    margin-right: 20px;
    font-size: 63px;
    line-height: 110.69%;
    text-transform: uppercase;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    margin-left: -40px;
    font-weight: 300;
    font-size: 18px;
    line-height: 132.19%;
    text-transform: uppercase;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    margin-left: 40px;
    color: $blackText;
    &:hover {
      .welcome__link-arrow {
        border-color: #000;
        fill: #000;
      }
    }
  }
  &__link-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin-left: 12px;
    border-radius: 100%;
    border: 1px solid transparent;
    fill: #6D6D6D;
    transition: 0.3s;
    svg {
      width: 14px;
      height: 8px;
    }
  }
  &__video {
    position: relative;
    overflow: hidden;
    video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    &:after {
      content: '';
      display: block;
      padding-top: 56.25%;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__title {
      max-width: 430px;
      font-size: 45px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__links {
      max-width: 280px;
      flex-wrap: wrap;
      font-size: 16px;
      margin-left: 0;
    }
    &__link {
      justify-content: space-between;
      width: 100%;
      margin: 15px 0;
      margin-left: 0;
    }
  }
  @include media-breakpoint-down(lg) {
    padding: 40px 0 20px;
    &__head {
      margin-bottom: 20px;
    }
    &__title {
      max-width: 370px;
    }
    // &__video {
    //   height: 477px;
    // }
  }
  @include media-breakpoint-down(md) {
    padding: 40px 0 15px;
    &__head {
      margin-bottom: 20px;
    }
    &__title {
      font-size: 35px;
    }
    &__links {
      display: none;
    }
    // &__video {
    //   height: 211px;
    // }
  }
}
/* /welcome */